:root{
	--fuenteTitle: 'Ubuntu', system-ui;
	--fuenteText: 'Montserrat', system-ui;
	--verde: #4ec4ae;
	--bgP: #eeeef0;
	--bgS: #f5f5f5;
	--colorText: #aeaeb0;
	--colorTitle: #43474a;

	--btn: {
		background: var(--verde);
		font-family: var(--fuenteText);
		color: white;
		padding: 1em 2em;
		text-decoration: none;
		border-radius: 5rem;
	};
	--grid: {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5em;
		width: 80%;
		@media (--mobile){
			grid-template-columns: 1fr;
		}
	};
	--contenedor: {
		display: flex;
		justify-content: center;
		padding: 5em 0;
	};
	--title: {
		color: var(--colorTitle);
		font-family: var(--fuenteTitle);
		text-transform: uppercase;
		border-bottom: 1px solid var(--colorText);
		font-size: 1.3rem;
		font-weight: 500;
		padding-bottom: 1em;
	};
	--text: {
		color: var(--colorText);
		font-family: var(--fuenteText);
		padding-bottom: 3em;
	};
}
@custom-media --mobile (width <= 500px );
@custom-media --tablet (width <= 780px );
body{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu';
	font-family: 'Montserrat';

}
.Hero{
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	& .contenedor{
		background: color(black a(50%));
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 8em 9em;
		text-align: center;
		@media (--tablet){
			padding: 8em 5em;
		}
		@media (--mobile){
			padding: 4em 2em 8em;
		}
		& .header{
			width: 100%;
			& .navbar{
				position: relative;
				width: 100%;
				& .menu{
					margin: 0;
					display: flex;
					@media (--mobile){
						display: none;
					}
					& .item{
						padding: 1em;
						list-style: none;
						& a{
							color: white;
							font-family: var(--fuenteText);
							text-transform: uppercase;
							text-decoration: none;
						}
					}
				}
				& .button{
					display: none;
					@media (--mobile){
						display: block;
						color: white;
						background: none;
						border: none;
						font-size: 3rem;
						position: absolute;
						right: 0;
					}
				}
			}
		}
		& .title{
			font-family: var(--fuenteTitle);
			color: white;
			font-size: 4rem;
			text-transform: uppercase;
			margin-bottom: 0;
			@media (--tablet){
				font-size: 3rem;
			}
			@media (--mobile){
				font-size: 2.5rem;
				margin-top: 2em;
			}
		}
		& .subtitle{
			font-family: var(--fuenteText);
			color: white;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 3em;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				width: 15%;
				height: 2px;
				top: 50%;
				left: -5em;
				background: white;
			}
			&:after{
				content: '';
				position: absolute;
				width: 15%;
				height: 2px;
				top: 50%;
				right: -5em;
				background: white;
			}
			@media (--tablet){
				&:before,&:after{
					display: none;
				}
			}
			@media (--tablet){
				font-size: 1.5rem;
			}
		}
		& .btn{
			@apply --btn;
			font-size: 1.2rem;
			padding: 1em 3em;
			text-transform: uppercase;
		}
	}
}
.Servicios{
	@apply --contenedor;
	background: var(--bgP);
	& .contenedor{
		@apply --grid;
		grid-template-columns: repeat(3, 1fr);
		& .item{
			text-align: center;
			& .fa, & .far{
				font-size: 3rem;
				color: var(--verde);
			}
			& .title{
				@apply --title;
			}
			& .descripcion{
				@apply --text;
			}
		}
	}
}
.Post-a{
	@apply --contenedor;
	background: var(--bgS);
	& .contenedor{
		@apply --grid;
		grid-gap: 8em;
		& .item{
			& .header{
				height: 250px;
				overflow: hidden;
				& .img{
					width: 100%;
				}
			}
			& .body{
				& .title{
					@apply --title;
				}
				& .meta{
					@apply --text;
				}
				& .btn{
					@apply --btn;
				}
			}
		}
	}
}
.Destacado-a{
	padding: 5em 8em 8em;
	background: var(--bgP);
	@media (--mobile){
		padding: 5em 2em 8em;
	}
	& .title{
		@apply --title;
		font-size: 2rem;
		& span{
			color: var(--colorText);
			font-size: 2.5rem;
		}
	}
	& .meta{
		@apply --text;
	}
	& .btn{
		@apply --btn;
		background: var(--colorText);
	}
}
.Post-b{
	@apply --contenedor;
	background: var(--bgS);
	& .contenedor{
		@apply --grid;
		grid-template-columns: repeat(3, 1fr);
		& .item{
			& .header{
				height: 200px;
				overflow: hidden;
				& .img{
					width: 100%;
				}
			}
			& .title{
				@apply --title;
			}
			& .meta{
				@apply --text;
			}
			& .btn{
				color: var(--verde);
				text-decoration: none;
			}
		}
	}
}
.Recomendaciones{
	@apply --contenedor;
	background: var(--bgP);
	padding: 5em 0 10em;
	& .contenedor{
		@apply --grid;
		& .item{
			& .title{
				@apply --title;
				font-size: 1.5rem;
				& span{
					font-size: 2rem;
					color: var(--colorText);
				}
			}
			& .descripcion{
				@apply --text;
			}
			& .btn{
				@apply --btn;
			}
		}
	}
}
.Destacado-b{
	@apply --contenedor;
	background: var(--bgS);
	& .contenedor{
		@apply --grid;
		& .item{
			& .img{
				width: 100%;
			}
			& .title{
				@apply --title;
				font-size: 1.5rem;
			}
			& .meta{
				@apply --text;
			}
			& .btn{
				@apply --btn;
				background: var(--colorText);
			}
		}
	}
}
.footer{
	background: var(--verde);
	padding: 3em 2em;
	& .copy{
		margin: 0;
		color: white;
		font-family: var(--fuenteText);
	}
}