:root{
	--fuenteTitle: 'Ubuntu', system-ui;
	--fuenteText: 'Montserrat', system-ui;
	--verde: #4ec4ae;
	--bgP: #eeeef0;
	--bgS: #f5f5f5;
	--colorText: #aeaeb0;
	--colorTitle: #43474a;

	--btn: {
		background: var(--verde);
		font-family: var(--fuenteText);
		color: white;
		padding: 1em 2em;
		text-decoration: none;
		border-radius: 5rem;
	};
	--grid: {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 5em;
		width: 80%;
	};
	--contenedor: {
		display: flex;
		justify-content: center;
		padding: 5em 0;
	};
	--title: {
		color: var(--colorTitle);
		font-family: var(--fuenteTitle);
		text-transform: uppercase;
		border-bottom: 1px solid var(--colorText);
		font-size: 1.3rem;
		font-weight: 500;
		padding-bottom: 1em;
	};
	--text: {
		color: var(--colorText);
		font-family: var(--fuenteText);
		padding-bottom: 3em;
	};
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu';
	font-family: 'Montserrat';

}
.Hero{
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	& .contenedor{
		background: color(black a(50%));
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 8em 9em;
		text-align: center;
		& .header{
			& .navbar{
				& .menu{
					margin: 0;
					display: flex;
					& .item{
						padding: 1em;
						list-style: none;
						& a{
							color: white;
							font-family: var(--fuenteText);
							text-transform: uppercase;
							text-decoration: none;
						}
					}
				}
			}
		}
		& .title{
			font-family: var(--fuenteTitle);
			color: white;
			font-size: 4rem;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		& .subtitle{
			font-family: var(--fuenteText);
			color: white;
			font-size: 1.5rem;
			text-transform: uppercase;
			font-weight: 500;
			margin-bottom: 3em;
		}
		& .btn{
			@apply --btn;
			font-size: 1.2rem;
			padding: 1em 3em;
			text-transform: uppercase;
		}
	}
}
.Servicios{
	@apply --contenedor;
	background: var(--bgP);
	& .contenedor{
		@apply --grid;
		grid-template-columns: repeat(3, 1fr);
		& .item{
			text-align: center;
			& .fa, & .far{
				font-size: 3rem;
				color: var(--verde);
			}
			& .title{
				@apply --title;
			}
			& .descripcion{
				@apply --text;
			}
		}
	}
}
.Post-a{
	@apply --contenedor;
	background: var(--bgS);
	& .contenedor{
		@apply --grid;
		grid-gap: 8em;
		& .item{
			& .header{
				height: 250px;
				overflow: hidden;
				& .img{
					width: 100%;
				}
			}
			& .body{
				& .title{
					@apply --title;
				}
				& .meta{
					@apply --text;
				}
				& .btn{
					@apply --btn;
				}
			}
		}
	}
}
.Destacado-a{
	padding: 5em 8em 8em;
	background: var(--bgP);
	& .title{
		@apply --title;
		font-size: 2rem;
		& span{
			color: var(--colorText);
			font-size: 2.5rem;
		}
	}
	& .meta{
		@apply --text;
	}
	& .btn{
		@apply --btn;
		background: var(--colorText);
	}
}
.Post-b{
	@apply --contenedor;
	background: var(--bgS);
	& .contenedor{
		@apply --grid;
		grid-template-columns: repeat(3, 1fr);
		& .item{
			& .header{
				height: 200px;
				overflow: hidden;
				& .img{
					width: 100%;
				}
			}
			& .title{
				@apply --title;
			}
			& .meta{
				@apply --text;
			}
			& .btn{
				color: var(--verde);
				text-decoration: none;
			}
		}
	}
}